[data-scope="avatar"][data-part="root"] {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
}

[data-scope="avatar"][data-part="image"] {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: inherit;
}

[data-scope="avatar"][data-part="fallback"] {
  width: 80px;
  height: 80px;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  color: white;
  background-color: #777;
  border-radius: inherit;
}

[data-scope="avatar"][data-part="fallback"][data-state="visible"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar .controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
