[data-scope="carousel"][data-part="root"] {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
}

[data-scope="carousel"][data-part="root"] img {
  margin: 0;
}

[data-scope="carousel"][data-part="control"] {
  display: flex;
  gap: 8px;
}

[data-scope="carousel"][data-part="item-group"] {
  /* Hide scrollbar */
  scrollbar-width: none;
  -webkit-scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

[data-scope="carousel"][data-part="item"] {
  aspect-ratio: 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

[data-scope="carousel"][data-part="indicator-group"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 8px;
  gap: 8px;
}

[data-scope="carousel"][data-part="indicator"] {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  cursor: pointer;
  background-color: lightgray;
  transition: background-color 0.2s ease-in-out;
}

[data-scope="carousel"][data-part="indicator"][data-current] {
  background-color: blue;
}

[data-scope="carousel"][data-part="autoplay-trigger"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

[data-scope="carousel"][data-part="autoplay-trigger"] svg {
  width: 12px;
  height: 12px;
}
