:global(.CascadeSelectControl) {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  align-items: flex-start;
}

:global(.CascadeSelectLabel) {
  font-size: 14px;
}

:global(.CascadeSelectLabel)[data-disabled] {
  cursor: default;
  color: gray;
}

:global(.CascadeSelectLabel)[data-invalid] {
  color: red;
}

:global(.CascadeSelectTrigger) {
  padding: 4px 12px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 6px;
  cursor: default;
  background: #eeeeee;
  font-size: 14px;
  border: 1px solid slategray;

  & svg {
    width: 14px;
    height: 14px;
  }
}

.cascade-select svg {
  position: relative;
  top: 1px;
}

:global(.CascadeSelectTrigger):disabled {
  cursor: default;
}

:global(.CascadeSelectTrigger)[data-invalid] {
  border: 2px solid red;
}

:global(.CascadeSelectClearTrigger) {
  padding: 4px;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.15s ease;
}

:global(.CascadeSelectClearTrigger):hover {
  background: #f0f0f0;
}

:global(.CascadeSelectPositioner) {
  width: max-content;
}

:global(.CascadeSelectContent) {
  display: flex;
  margin-top: 4px;
  background: #efefef;
  max-height: min(var(--available-height), 200px);
}

:global(.CascadeSelectList) {
  width: 200px;
  list-style: none;
  padding: 4px;
  margin: 0;
  position: relative;
  overflow-y: auto;
  overscroll-behavior: contain;
  overflow-x: hidden;
}

/* Add a subtle separator line between levels */
:global(.CascadeSelectList):not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 6px;
  bottom: 6px;
  width: 1px;
  background: #d4d5d8;
  opacity: 0.6;
}

:global(.CascadeSelectItem) {
  padding: 4px 8px;
  cursor: default;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

:global(.CascadeSelectItemText) {
  margin-right: auto;
}

:global(.CascadeSelectItem)[data-disabled] {
  color: #777;
}

:global(.CascadeSelectItem)[data-state="checked"] {
  background: blue;
  color: white;
}

:global(.CascadeSelectItem):hover {
  background: #e2e8f0;
  border-color: #cbd5e1;
}

:global(.CascadeSelectItem)[data-highlighted] {
  background: rgb(0, 0, 195);
  color: white;
}
