:global(.ClipboardRoot) {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

:global(.ClipboardControl) {
  display: flex;
  width: 100%;
}

:global(.ClipboardInput) {
  width: 100%;
}

:global(.ClipboardTrigger) svg {
  height: 1em;
  font-size: 16px;
}

:global(.ClipboardIndicator) {
  background: lightgray;
  padding: 8px;
}
