:global(.CollapsibleContent) {
  overflow: hidden;
  max-width: 400px;

  &[data-state="open"] {
    animation-name: fadeIn, expandHeight;
    animation-duration: 200ms;
    animation-timing-function: ease;

    &[data-has-collapsed-size] {
      animation-name: expandHeight;
    }
  }

  &[data-state="closed"] {
    animation-name: fadeOut, collapseHeight;
    animation-duration: 200ms;
    animation-timing-function: ease;

    &[data-has-collapsed-size] {
      animation-name: collapseHeight;
    }
  }
}

:global(.CollapsibleTrigger) {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

:global(.CollapsibleIndicator) {
  &[data-state="open"] {
    transform: rotate(180deg);
  }
}
