:global(.ColorPickerRoot) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

:global(.ColorPickerControl) {
  display: flex;
  gap: 4px;
}

:global(.ColorPickerContent) {
  width: 260px;
  box-sizing: border-box;
  padding: 24px;
  border: 1px solid #d5d5d5;
  background: white;
  z-index: var(--layer-index);
}

:global(.ColorPickerContent) > .content__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

:global(.ColorPickerArea) {
  height: 200px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
}

:global(.ColorPickerAreaBackground) {
  background: rgb(142, 142, 142);
  border-radius: 4px;
  height: 200px;
}

:global(.ColorPickerAreaThumb),
:global(.ColorPickerChannelSliderThumb) {
  border: 2px solid white;
  border-radius: 9999px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  box-shadow:
    black 0px 0px 0px 1px,
    black 0px 0px 0px 1px inset;
  width: 16px;
  height: 16px;
}

:global(.ColorPickerChannelSliderTrack) {
  height: 20px;
  border-radius: 4px;
}

:global(.ColorPickerChannelInput) {
  border-radius: 4px;
  width: 100%;
  border: 1px solid #c2c2c2;
}

:global(.ColorPickerSwatch) {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

:global(.ColorPickerTransparencyGrid) {
  border-radius: 4px;
}
