.Root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.Control {
  display: flex;
  gap: 4px;
}

.Content {
  width: 260px;
  box-sizing: border-box;
  padding: 24px;
  border: 1px solid #d5d5d5;
  background: white;
  z-index: var(--layer-index);
}

.Content > .content__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Area {
  height: 200px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
}

.AreaBackground {
  background: rgb(142, 142, 142);
  border-radius: 4px;
  height: 200px;
}

.AreaThumb,
.ChannelSliderThumb {
  border: 2px solid white;
  border-radius: 9999px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  box-shadow:
    black 0px 0px 0px 1px,
    black 0px 0px 0px 1px inset;
  width: 16px;
  height: 16px;
}

.ChannelSliderTrack {
  height: 20px;
  border-radius: 4px;
}

.ChannelInput {
  border-radius: 4px;
  width: 100%;
  border: 1px solid #c2c2c2;
}

.Swatch {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.TransparencyGrid {
  border-radius: 4px;
}
