[data-scope="combobox"][data-part="root"] {
  display: inline-flex;
  flex-direction: column;
}

[data-scope="combobox"][data-part="content"] {
  background-color: white;
  list-style-type: none;
  margin: 0;
  border: 1px solid lightgray;
  overscroll-behavior: contain;
  max-height: 240px;
  overflow: auto;
  padding: 2px;
}

[data-scope="combobox"][data-part="item"] {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  user-select: none;
  user-select: none;
  content-visibility: auto;

  &[data-highlighted] {
    background-color: blue;
    color: white;
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

[data-scope="combobox"][data-part="label"] {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
}

[data-scope="combobox"][data-part="control"] {
  display: inline-flex;
  width: 300px;
}

[data-scope="combobox"][data-part="input"] {
  flex: 1;
}

[data-scope="combobox"][data-part="clear-trigger"] {
  display: inline-flex;
  font-size: 1.2em;
  & svg {
    width: 1em;
    height: 1em;
  }
}

[data-scope="combobox"][data-part="item-group-label"] {
  user-select: none;
  margin-top: 8px;
  display: flex;
  align-items: center;
  padding: 0 8px 8px;
  font-size: 12px;
  font-weight: 600;
}
