[data-scope="combobox"][data-part="root"] {
  display: inline-flex;
  flex-direction: column;
}

[data-scope="combobox"][data-part="content"] {
  background-color: white;
  list-style-type: none;
  margin: 0;
  border: 1px solid lightgray;
  max-height: 240px;
  overflow: auto;
  padding: 2px;
}

[data-scope="combobox"][data-part="item"] {
  display: block;
  padding: 4px 8px;
  user-select: none;
}

[data-scope="combobox"][data-part="item"][data-highlighted] {
  background-color: blue;
  color: white;
}

[data-scope="combobox"][data-part="item"][data-disabled] {
  opacity: 0.5;
}

[data-scope="combobox"][data-part="label"] {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
}

[data-scope="combobox"][data-part="control"] {
  display: inline-flex;
  width: 300px;
}

[data-scope="combobox"][data-part="input"] {
  flex: 1;
}

[data-scope="combobox"][data-part="clear-trigger"] {
  display: inline-flex;
  font-size: 1.2em;
  & svg {
    width: 1em;
    height: 1em;
  }
}
