[data-combobox-root] {
  display: inline-flex;
  flex-direction: column;
}

[data-combobox-content] {
  background-color: white;
  margin: 0;
  border: 1px solid lightgray;
  z-index: var(--layer-index);
}

[data-combobox-list] {
  overscroll-behavior: contain;
  max-height: 240px;
  overflow: auto;
  padding: 2px;
}

[data-combobox-item] {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  user-select: none;
  user-select: none;
  content-visibility: auto;

  &[data-highlighted] {
    background-color: blue;
    color: white;
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

[data-combobox-label] {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
}

[data-combobox-control] {
  display: inline-flex;
  width: 300px;
}

[data-combobox-input] {
  flex: 1;
}

[data-combobox-clear-trigger] {
  display: inline-flex;
  font-size: 1.2em;
  & svg {
    width: 1em;
    height: 1em;
  }
}

[data-combobox-item-group-label] {
  user-select: none;
  margin-top: 8px;
  display: flex;
  align-items: center;
  padding: 0 8px 8px;
  font-size: 12px;
  font-weight: 600;
}
