:global(.ComboboxRoot) {
  display: inline-flex;
  flex-direction: column;
}

:global(.ComboboxContent) {
  background-color: white;
  list-style-type: none;
  margin: 0;
  border: 1px solid lightgray;
  overscroll-behavior: contain;
  max-height: 240px;
  overflow: auto;
  padding: 2px;
  z-index: var(--layer-index);
}

:global(.ComboboxItem) {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  user-select: none;
  user-select: none;
  content-visibility: auto;

  &[data-highlighted] {
    background-color: blue;
    color: white;
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

:global(.ComboboxLabel) {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
}

:global(.ComboboxControl) {
  display: inline-flex;
  width: 300px;
}

:global(.ComboboxInput) {
  flex: 1;
}

:global(.ComboboxClearTrigger) {
  display: inline-flex;
  font-size: 1.2em;
  & svg {
    width: 1em;
    height: 1em;
  }
}

:global(.ComboboxItemGroupLabel) {
  user-select: none;
  margin-top: 8px;
  display: flex;
  align-items: center;
  padding: 0 8px 8px;
  font-size: 12px;
  font-weight: 600;
}
