.Trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  svg {
    width: 12px;
    height: 12px;
  }
}

.TableCellTrigger {
  padding: 4px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 4px;
  text-align: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.TableCellTrigger:hover {
  background: rgba(126, 126, 126, 0.171);
}

.TableCellTrigger[data-focus] {
  background: rgba(165, 151, 165, 0.085);
  color: rgba(128, 0, 128, 0.959);
}

.TableCellTrigger[data-outside-range] {
  visibility: hidden;
}

.TableCellTrigger[data-selected] {
  background: purple !important;
  color: white !important ;
}

.TableCellTrigger[data-in-range]:not([data-selected]) {
  background: rgb(240, 219, 240);
}

.Control {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.TableCellTrigger[data-today] {
  color: purple;
}

.TableCellTrigger[data-unavailable] {
  text-decoration: line-through;
  opacity: 0.4;
}

.TableCellTrigger[data-disabled] {
  opacity: 0.4;
}

.Content {
  border: 1px solid gray;
  padding: 1.5rem;
  min-width: 320px;
  background: white;
  border-radius: 8px;
}

.Content[data-inline] {
  border: 0;
  padding: 0;
  border-radius: 0;
}

.Table {
  min-width: 240px;
  width: 100%;
  border-collapse: collapse;
}

.ViewTrigger {
  border: 0;
  padding: 4px 20px;
  border-radius: 4px;
}

.ViewControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 10px;
}

.View {
  width: 100%;
}
