.Label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;

  &[data-disabled] {
    opacity: 0.5;
  }
}

.Control {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  &[data-disabled] {
    opacity: 0.5;
  }
}

.SegmentGroup {
  display: inline-flex;
  align-items: center;
  padding-block: 4px;
  padding-inline: 6px;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  min-width: 154px;

  &[data-focus] {
    border-color: rgba(102, 175, 233, 0.8);
    box-shadow: 0 0 0 1px rgba(102, 175, 233, 0.6);
  }

  &[data-invalid] {
    border-color: #e53e3e;
  }

  &[data-disabled] {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
}

.Segment {
  font-variant-numeric: tabular-nums;
  text-align: end;
  font-size: 13.3333px;
  border-radius: 2px;
  padding-inline: 1px;

  &::selection {
    background-color: transparent;
  }

  &:focus {
    background-color: rgba(102, 175, 233, 0.6);
    outline: none;
  }

  &[data-placeholder-shown] {
    color: #a0a0a0;
  }

  &[data-readonly] {
    color: #666;
  }
}
