:global(.DatePickerTrigger) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  svg {
    width: 12px;
    height: 12px;
  }
}

:global(.DatePickerTableCellTrigger) {
  padding: 4px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 4px;
  text-align: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:global(.DatePickerTableCellTrigger):hover {
  background: rgba(126, 126, 126, 0.171);
}

:global(.DatePickerTableCellTrigger)[data-focus] {
  background: rgba(165, 151, 165, 0.085);
  color: rgba(128, 0, 128, 0.959);
}

:global(.DatePickerTableCellTrigger)[data-outside-range] {
  visibility: hidden;
}

:global(.DatePickerTableCellTrigger)[data-selected] {
  background: purple !important;
  color: white !important ;
}

:global(.DatePickerTableCellTrigger)[data-in-range]:not([data-selected]) {
  background: rgb(240, 219, 240);
}

:global(.DatePickerControl) {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 16px;
}

:global(.DatePickerTableCellTrigger)[data-today] {
  color: purple;
}

:global(.DatePickerTableCellTrigger)[data-unavailable] {
  text-decoration: line-through;
  opacity: 0.4;
}

:global(.DatePickerTableCellTrigger)[data-disabled] {
  opacity: 0.4;
}

:global(.DatePickerContent) {
  border: 1px solid gray;
  padding: 1.5rem;
  min-width: 320px;
  background: white;
  border-radius: 8px;
}

:global(.DatePickerContent)[data-inline] {
  border: 0;
  padding: 0;
  border-radius: 0;
}

:global(.DatePickerTable) {
  min-width: 240px;
  width: 100%;
  border-collapse: collapse;
}

:global(.DatePickerViewTrigger) {
  border: 0;
  padding: 4px 20px;
  border-radius: 4px;
}

:global(.DatePickerViewControl) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 10px;
}

:global(.DatePickerView) {
  width: 100%;
}
