[data-scope="date-input"][data-part="label"] {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

[data-scope="date-input"][data-part="label"][data-disabled] {
  opacity: 0.5;
}

[data-scope="date-input"][data-part="control"] {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

[data-scope="date-input"][data-part="control"][data-disabled] {
  opacity: 0.5;
}

[data-scope="date-input"][data-part="segment-group"] {
  display: inline-flex;
  align-items: center;
  padding-block: 4px;
  padding-inline: 6px;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  min-width: 154px;
}

[data-scope="date-input"][data-part="segment-group"][data-focus] {
  border-color: rgba(102, 175, 233, 0.8);
  box-shadow: 0 0 0 1px rgba(102, 175, 233, 0.6);
}

[data-scope="date-input"][data-part="segment-group"][data-invalid] {
  border-color: #e53e3e;
}

[data-scope="date-input"][data-part="segment-group"][data-disabled] {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

[data-scope="date-input"][data-part="segment"] {
  font-variant-numeric: tabular-nums;
  text-align: end;
  font-size: 13.3333px;
  border-radius: 2px;
  padding-inline: 1px;

  &::selection {
    background-color: transparent;
  }

  &:focus {
    background-color: rgba(102, 175, 233, 0.6);
    outline: none;
  }
}

[data-scope="date-input"][data-part="segment"][data-placeholder] {
  color: #a0a0a0;
}

[data-scope="date-input"][data-part="segment"][data-readonly] {
  color: #666;
}
