:global(.EditableArea) {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 1em;
}

:global(.EditableInput) {
  width: auto;
  background: transparent;

  &[data-autoresize] {
    all: unset;
  }
}

:global(.EditablePreview)[data-empty] {
  opacity: 0.7;
}

:global(.EditableControl) {
  display: flex;
  gap: 0.5em;
}
