.Area {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 1em;
}

.Input {
  width: auto;
  background: transparent;

  &[data-autoresize] {
    all: unset;
  }
}

.Preview[data-empty] {
  opacity: 0.7;
}

.Control {
  display: flex;
  gap: 0.5em;
}
