[data-scope="file-upload"][data-part="dropzone"] {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 16px;
  padding: 24px;
  border: 2px dashed #d5d5d5;
  position: relative;
}

[data-scope="file-upload"][data-part="dropzone"][data-cover] {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-scope="file-upload"][data-part="dropzone"][data-dragging] {
  border-color: blue;
  background-color: lightblue;
}

[data-scope="file-upload"][data-part="dropzone"][data-invalid] {
  border-color: red;
  background-color: lightpink;
}
