[data-scope="hover-card"][data-part="trigger"] {
  width: fit-content;
  padding: 6px;
}

[data-scope="hover-card"][data-part="content"] {
  background: rgb(225, 223, 228);
  padding: 6px;
  min-height: 150px;
  width: 300px;
}
