@import url(./navigation-menu-keyframes.css);

.navigation-menu.viewport {
  [data-scope="navigation-menu"][data-part="root"] {
    --arrow-size: 20px;
    --indicator-size: 10px;
  }

  [data-scope="navigation-menu"][data-part="list"] {
    all: unset;
    list-style: none;
    display: flex;

    &[data-orientation="vertical"] {
      flex-direction: column;
    }
  }

  [data-scope="navigation-menu"][data-part="trigger"] {
    padding: 10px 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    font-size: inherit;
    gap: 4px;

    & svg {
      transition: rotate 200ms ease;
      width: 14px;
      height: 14px;
    }

    &[data-state="open"] > svg {
      rotate: -180deg;
    }
  }

  [data-scope="navigation-menu"][data-part="link"] {
    padding: 10px;
    font-weight: bold;
    color: inherit;
    display: block;
    text-decoration: none;
  }

  [data-scope="navigation-menu"][data-part="content"] {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    gap: 20px;
    padding: 40px;

    &[data-motion="from-start"] {
      animation: nav-menu-from-left 250ms ease;
    }

    &[data-motion="from-end"] {
      animation: nav-menu-from-right 250ms ease;
    }

    &[data-motion="to-start"] {
      animation: nav-menu-to-left 250ms ease;
    }

    &[data-motion="to-end"] {
      animation: nav-menu-to-right 250ms ease;
    }
  }

  [data-scope="navigation-menu"][data-part="viewport-positioner"] {
    position: absolute;
    display: flex;
    justify-content: center;

    &[data-orientation="horizontal"] {
      width: 100%;
      top: 100%;
      left: 0;
    }

    &[data-orientation="vertical"] {
      height: 100%;
      top: 0;
      left: 100%;
    }
  }

  [data-scope="navigation-menu"][data-part="viewport"] {
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    gap: 20px;
    padding: 40px;
    background-color: white;
    transition:
      width,
      height,
      300ms ease;
    width: var(--viewport-width);
    height: var(--viewport-height);
    transform-origin: top center;
    overflow: hidden;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow:
      0 50px 100px -20px rgba(50, 50, 93, 0.25),
      0 30px 60px -30px rgba(0, 0, 0, 0.3);

    &[data-state="open"] {
      animation: nav-menu-scale-in 300ms ease;
    }

    &[data-state="closed"] {
      animation: nav-menu-scale-out 300ms ease;
    }
  }

  [data-scope="navigation-menu"][data-part="indicator"] {
    display: flex;
    justify-content: center;
    height: var(--indicator-size);
    z-index: 1;
    transition:
      translate 250ms ease,
      width 250ms ease;
    overflow: hidden;
    bottom: calc(calc(var(--indicator-size) + var(--arrow-size)) * -1);

    &[data-orientation="horizontal"] {
      left: 0px;
      translate: var(--trigger-x) 0;
      width: var(--trigger-width);
    }

    &[data-orientation="vertical"] {
      top: 0px;
      translate: 0 var(--trigger-y);
      height: var(--trigger-height);
    }

    &[data-state="open"] {
      animation: nav-menu-fade-in 250ms ease;
    }

    &[data-state="closed"] {
      animation: nav-menu-fade-out 250ms ease;
    }
  }
}

[data-scope="navigation-menu"][data-part="arrow"] {
  position: relative;
  top: 4px;
  width: var(--arrow-size);
  height: var(--arrow-size);
  background-color: white;
  rotate: 45deg;
  border-radius: 3px;
}
