:global(.NumberInputScrubber) {
  width: 32px;
  height: 32px;
  background: red;
}

:global(.NumberInputControl) {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

:global(.NumberInputInput) {
  width: 100%;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 8px;
  text-align: center;
  font-size: 16px;
}

:global(.NumberInputIncrementTrigger),
:global(.NumberInputDecrementTrigger) {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  & svg {
    width: 16px;
    height: 16px;
  }
}
