.pagination > * {
  width: 100%;
}

.pagination ul {
  display: flex;
  gap: 4px;
  align-items: center;
  list-style-type: none;
}

.pagination th {
  text-align: start;
}

.pagination td {
  padding-block: 4px;
}

[data-scope="pagination"][data-part*="trigger"],
[data-scope="pagination"][data-part*="item"],
[data-scope="pagination"][data-part="ellipsis"] {
  box-sizing: border-box;
  padding: 0 12px;
  height: 32px;
  min-width: 32px;
  text-align: center;
  margin: auto 4px;
  color: inherit;
  display: flex;
  align-items: center;
  border-radius: 4px;
  user-select: none;
  text-decoration: none;
}

[data-scope="pagination"][data-part*="item"]:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

[data-scope="pagination"][data-part*="item"][data-selected] {
  background-color: blue;
  color: white;
}

[data-scope="pagination"][data-part*="item"]:focus {
  outline: 2px solid var(--ring-color);
  outline-offset: 1px;
}
