:global(.PinInputControl) {
  width: 300px;
  display: flex;
  margin-bottom: 12px;
  gap: 12px;
}

:global(.PinInputLabel) {
  display: block;
  margin-bottom: 8px;
}

:global(.PinInputInput) {
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 16px;
  caret-color: transparent;
}
