.popover :global(.PopoverRoot) {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

:global(.PopoverContent) {
  --arrow-background: white;
  --arrow-size: 10px;
  background: white;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  width: 260px;
  transform-origin: var(--transform-origin);
  z-index: var(--layer-index);

  &[data-fullscreen] {
    position: fixed;
    padding: 20px;
    width: 100%;
    bottom: 0px;
  }

  &[data-state="open"] {
    animation: scaleFadeIn 0.15s ease-in-out;
  }

  &[data-state="closed"] {
    animation: scaleFadeOut 0.1s ease-in-out;
  }
}

:global(.PopoverPositioner)[data-fullscreen] {
  display: contents;
}

:global(.PopoverTitle) {
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
}

:global(.Popover) :global(.PopoverBody) {
  padding-top: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  position: relative;
  font-size: 14px;
}

:global(.PopoverCloseTrigger) {
  position: absolute;
  right: 0px;
  top: -20px;
}

:global(.PopoverArrow) {
  --arrow-background: white;
  --arrow-shadow-color: #ebebeb;
  box-shadow: var(--box-shadow);
}

:global(.PopoverIndicator) {
  display: inline-flex;
  margin-inline-start: 4px;
}

:global(.PopoverIndicator)[data-state="open"] {
  rotate: 90deg;
}
