[data-scope="progress"][data-part="root"] {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 50%;
}

[data-scope="progress"][data-part="track"] {
  height: 4px;
  background-color: #ebebeb;
  border-radius: 4px;
  overflow: hidden;
}

[data-scope="progress"][data-part="range"] {
  --translate-x: -100%;
  height: 100%;
  background-color: blue;
  border-radius: 4px;
  transition: width 0.2s ease-in-out;
}

[data-scope="progress"][data-part="range"][dir="rtl"] {
  --translate-x: -100%;
}

[data-scope="progress"][data-part="range"][data-state="indeterminate"] {
  width: 210%;
  animation: 1s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s infinite normal none running progress-animation;
}

[data-scope="progress"][data-part="circle"] {
  --size: 48px;
  --thickness: 4px;
}

[data-scope="progress"][data-part="circle"][data-state="indeterminate"] {
  animation: spin 2s linear infinite;
}

[data-scope="progress"][data-part="circle-track"] {
  stroke: #ebebeb;
}

[data-scope="progress"][data-part="circle-range"] {
  stroke: blue;
  transition-property: stroke-dasharray, stroke;
  transition-duration: 0.6s;
}

[data-scope="progress"][data-part="circle-range"][data-state="indeterminate"] {
  animation: spin-progress;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes spin-progress {
  0% {
    stroke-dasharray: 1, 400;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -140;
  }
}

@keyframes progress-animation {
  0% {
    transform: scaleX(1) translateX(var(--translate-x));
  }
  100% {
    transform: scaleX(0) translateX(var(--translate-x));
  }
}
