:global(.RatingGroupControl) {
  display: inline-flex;
}

:global(.RatingGroupItem) {
  width: 20px;
  height: 20px;
  padding: 1px;
}

:global(.RatingGroupItem):focus {
  outline: 2px solid royalblue;
}

:global(.RatingGroup) :global(.RatingGroupStar) {
  color: #bdbdbd;
}

:global(.RatingGroupItem)[data-highlighted] :global(.RatingGroupStar) {
  color: #ffb400;
}

:global(.RatingGroupItem)[data-highlighted][data-disabled] :global(.RatingGroupStar) {
  color: #a1a1a1;
}

:global(.RatingGroup)[dir="rtl"] [data-half] :global(.RatingGroupStar) {
  transform: scale(-1, 1);
}
