.Control {
  display: inline-flex;
}

.Item {
  width: 20px;
  height: 20px;
  padding: 1px;
}

.Item:focus {
  outline: 2px solid royalblue;
}

.RatingGroup .Star {
  color: #bdbdbd;
}

.Item[data-highlighted] .Star {
  color: #ffb400;
}

.Item[data-highlighted][data-disabled] .Star {
  color: #a1a1a1;
}

.RatingGroup[dir="rtl"] [data-half] .Star {
  transform: scale(-1, 1);
}
