.slider > * {
  width: 100%;
}

:global(.SliderRoot) {
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

:global(.SliderRoot)[data-orientation="vertical"] {
  height: 240px;
}

:global(.SliderControl) {
  --slider-thumb-size: 20px;
  --slider-track-height: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

:global(.SliderControl)[data-orientation="horizontal"] {
  height: var(--slider-thumb-size);
}

:global(.SliderControl)[data-orientation="vertical"] {
  width: var(--slider-thumb-size);
}

:global(.SliderThumb) {
  all: unset;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  border-radius: 999px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px;
}

:global(.SliderThumb):focus-visible {
  box-shadow: rgb(0 0 0 / 22%) 0px 0px 0px 5px;
}

:global(.SliderThumb):hover:not([data-disabled]) {
  background-color: rgb(245, 242, 255);
}

:global(.SliderThumb)[data-disabled] {
  background-color: lightgray;
}

:global(.Slider) .control-area {
  margin-top: 12px;
  display: flex;
}

.slider [data-orientation="horizontal"] .control-area {
  flex-direction: column;
  width: 100%;
}

.slider [data-orientation="vertical"] .control-area {
  flex-direction: row;
  height: 100%;
}

:global(.SliderTrack) {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

:global(.SliderTrack)[data-orientation="horizontal"] {
  height: var(--slider-track-height);
  width: 100%;
}

:global(.SliderTrack)[data-orientation="vertical"] {
  height: 100%;
  width: var(--slider-track-height);
}

:global(.SliderRange) {
  background: magenta;
  border-radius: inherit;
}

:global(.SliderRange)[data-disabled] {
  background: rgba(0, 0, 0, 0.4);
}

:global(.SliderRange)[data-orientation="horizontal"] {
  height: 100%;
}

:global(.SliderRange)[data-orientation="vertical"] {
  width: 100%;
}

:global(.SliderValueText) {
  margin-inline-start: 12px;
}

:global(.SliderMarkerGroup)[data-orientation="vertical"] {
  height: 100%;
}

:global(.SliderMarker) {
  color: lightgray;
}

:global(.SliderMarker):is([data-state="under-value"], [data-state="at-value"]) {
  color: red;
}

:global(.SliderDraggingIndicator) {
  background: magenta;
  border-radius: 4px;
  padding: 2px 4px;
  color: white;
  &[data-orientation="horizontal"] {
    top: calc(var(--slider-thumb-size) + 8px);
  }

  &[data-orientation="vertical"] {
    left: calc(var(--slider-thumb-size) + 8px);
  }
}
