.slider > * {
  width: 100%;
}

.Root {
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Root[data-orientation="vertical"] {
  height: 240px;
}

.Control {
  --slider-thumb-size: 20px;
  --slider-track-height: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Control[data-orientation="horizontal"] {
  height: var(--slider-thumb-size);
}

.Control[data-orientation="vertical"] {
  width: var(--slider-thumb-size);
}

.Thumb {
  all: unset;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  border-radius: 999px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px;
}

.Thumb:focus-visible {
  box-shadow: rgb(0 0 0 / 22%) 0px 0px 0px 5px;
}

.Thumb:hover:not([data-disabled]) {
  background-color: rgb(245, 242, 255);
}

.Thumb[data-disabled] {
  background-color: lightgray;
}

.Slider .control-area {
  margin-top: 12px;
  display: flex;
}

.slider [data-orientation="horizontal"] .control-area {
  flex-direction: column;
  width: 100%;
}

.slider [data-orientation="vertical"] .control-area {
  flex-direction: row;
  height: 100%;
}

.Track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

.Track[data-orientation="horizontal"] {
  height: var(--slider-track-height);
  width: 100%;
}

.Track[data-orientation="vertical"] {
  height: 100%;
  width: var(--slider-track-height);
}

.Range {
  background: magenta;
  border-radius: inherit;
}

.Range[data-disabled] {
  background: rgba(0, 0, 0, 0.4);
}

.Range[data-orientation="horizontal"] {
  height: 100%;
}

.Range[data-orientation="vertical"] {
  width: 100%;
}

.ValueText {
  margin-inline-start: 12px;
}

.MarkerGroup[data-orientation="vertical"] {
  height: 100%;
}

.Marker {
  color: lightgray;
}

.Marker:is([data-state="under-value"], [data-state="at-value"]) {
  color: red;
}

.DraggingIndicator {
  background: magenta;
  border-radius: 4px;
  padding: 2px 4px;
  color: white;
  &[data-orientation="horizontal"] {
    top: calc(var(--slider-thumb-size) + 8px);
  }

  &[data-orientation="vertical"] {
    left: calc(var(--slider-thumb-size) + 8px);
  }
}
