:global(.SplitterRoot)[data-orientation="horizontal"] {
  height: 300px;
}

:global(.SplitterRoot)[data-orientation="vertical"] {
  width: 800px;
  height: 600px;
}

:global(.SplitterPanel) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  overflow: auto;
}

:global(.SplitterResizeTrigger)[data-orientation="horizontal"] {
  width: 8px;
}

:global(.SplitterResizeTrigger)[data-orientation="vertical"] {
  height: 8px;
}

:global(.SplitterResizeTrigger) {
  background: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  outline: 0;
}

:global(.SplitterResizeTrigger)[data-focus] {
  background: #b0baf1;
}

:global(.SplitterResizeTrigger):active {
  background: #3f51b5;
  color: white;
}

:global(.SplitterResizeTrigger)[data-disabled] {
  opacity: 0.5;
}

:global(.SplitterResizeTrigger) .bar {
  background-color: currentColor;
}

:global(.Splitter)[data-orientation="horizontal"] .bar {
  width: 2px;
  height: 40px;
}

:global(.Splitter)[data-orientation="vertical"] .bar {
  height: 2px;
  width: 40px;
}
