.swap button {
  width: 120px;
  display: grid;
  grid-template-areas: "stack";
  > * {
    grid-area: stack;
  }
}

[data-scope="swap"][data-state="open"] {
  animation: fadeIn 0.2s ease-out;
}

[data-scope="swap"][data-state="closed"] {
  animation: fadeOut 0.1s ease-in;
}

@keyframes fadeIn {
  from {
    scale: 0.9;
    opacity: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    scale: 0.9;
  }
}
