:global(.TabsRoot) {
  max-width: 32rem;
  border: 1px solid hsl(219, 1%, 72%);
  padding: 0.5rem;

  &[data-orientation="vertical"] {
    display: flex;
  }
}

:global(.TabsList) {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-inline: 0.3rem;
}

:global(.TabsTrigger) {
  display: inline-flex;
  position: relative;
  margin: 0;
  padding: 0.3rem 0.5rem;
  flex: 1;
  justify-content: center;

  &[data-selected] {
    border-radius: 0;
    background: blue;
    color: white;
  }
}

:global(.TabsContent) {
  position: relative;
  padding: 0.25rem 0.5rem;
  margin-top: 4px;
  background: white;
}

:global(.TabsIndicator) {
  background-color: red;
  z-index: 10;

  &[data-orientation="horizontal"] {
    width: var(--width);
    height: 4px;
  }

  &[data-orientation="vertical"] {
    height: var(--height);
    width: 4px;
  }
}
