[data-scope="tabs"][data-part="root"] {
  max-width: 32rem;
  border: 1px solid hsl(219, 1%, 72%);
  padding: 0.5rem;

  &[data-orientation="vertical"] {
    display: flex;
  }
}

[data-scope="tabs"][data-part="list"] {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-inline: 0.3rem;
}

[data-scope="tabs"][data-part="trigger"] {
  display: inline-flex;
  position: relative;
  margin: 0;
  padding: 0.3rem 0.5rem;

  &[data-selected] {
    border-radius: 0;
    background: blue;
    color: white;
  }
}

[data-scope="tabs"][data-part="content"] {
  position: relative;
  padding: 0.25rem 0.5rem;
  margin-top: 4px;
  background: white;
}

[data-scope="tabs"][data-part="indicator"] {
  background-color: red;
  z-index: 10;
}

[data-scope="tabs"][data-part="indicator"][data-orientation="horizontal"] {
  width: var(--width);
  height: 4px;
}

[data-scope="tabs"][data-part="indicator"][data-orientation="vertical"] {
  height: var(--height);
  width: 4px;
}
