[data-scope="tags-input"][data-part="label"] {
  display: block;
  margin-bottom: 8px;
}

[data-scope="tags-input"][data-part="control"] {
  padding: 0 2px;
  background: #fff;
  border: 1px solid #ccc;
  width: 40em;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

[data-scope="tags-input"][data-part="control"][data-disabled] {
  background: #f9f9f9;
}

[data-scope="tags-input"][data-part="control"][data-focus],
[data-scope="tags-input"][data-part="control"]:focus {
  outline: 2px solid var(--ring-color);
  outline-offset: 2px;
}

[data-scope="tags-input"][data-part="item-preview"] {
  background: #eee;
  color: #444;
  padding: 0 4px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font: inherit;
  user-select: none;
  display: inline-block;
}

[data-scope="tags-input"][data-part="item-preview"][hidden] {
  display: none !important;
}
[data-scope="tags-input"][data-part="item-preview"][data-highlighted] {
  background-color: #777;
  border-color: #777;
  color: #eee;
}
[data-scope="tags-input"][data-part="item-preview"][data-disabled] {
  opacity: 0.6;
  cursor: default;
}

[data-scope="tags-input"][data-part*="input"] {
  appearance: none;
  padding: 3px;
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
  font: inherit;
  font-size: 100%;
  outline: none;
  display: inline-block !important;
}

[data-scope="tags-input"][data-part*="input"][hidden] {
  display: none !important;
}

[data-scope="tags-input"][data-part*="input"]:disabled {
  opacity: 0.6;
}

[data-scope="tags-input"][data-part="item-delete-trigger"] {
  all: unset;
}
