:global(.TimerRoot) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

:global(.TimerArea) {
  display: flex;
  align-items: center;
}

:global(.TimerItem) {
  font-size: 2rem;
  font-weight: 500;
}

:global(.TimerSeparator) {
  font-size: 1rem;
  font-weight: 500;
  margin-inline: 0.5rem;
}

:global(.TimerControl) {
  display: flex;
  gap: 4px;
}
