[data-scope="time-picker"][data-part="content"] {
  border: 1px solid gray;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  max-height: 200px;
}

[data-scope="time-picker"][data-part="column"] {
  display: flex;
  gap: 4px;
  flex-direction: column;
  overflow-y: scroll;
  padding: 4px;

  &[data-focus] {
    background: rgb(247, 247, 247);
  }

  /* hide scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  & + & {
    border-inline-start: 1px solid rgb(209, 209, 209);
  }
}

[data-scope="time-picker"][data-part="spacer"] {
  display: block;
  flex-shrink: 0;
  height: calc(100% - 36px);
}

[data-scope="time-picker"][data-part="cell"] {
  background: none;
  border: none;
  padding: 8px;
  border-radius: 4px;

  &[data-now] {
    background: lightblue;
  }

  &[data-selected] {
    background: purple;
    color: white;
  }

  &[data-disabled] {
    opacity: 0.25;
    cursor: not-allowed;
  }
}
