.Root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Area {
  display: flex;
  align-items: center;
}

.Item {
  font-size: 2rem;
  font-weight: 500;
}

.Separator {
  font-size: 1rem;
  font-weight: 500;
  margin-inline: 0.5rem;
}

.Control {
  display: flex;
  gap: 4px;
}
