[data-timer-root] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

[data-timer-area] {
  display: flex;
  align-items: center;
}

[data-timer-item] {
  font-size: 2rem;
  font-weight: 500;
}

[data-timer-separator] {
  font-size: 1rem;
  font-weight: 500;
  margin-inline: 0.5rem;
}

[data-timer-control] {
  display: flex;
  gap: 4px;
}
