[data-scope="time-picker"][data-part="content"] {
  border: 1px solid gray;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  gap: 4px;
  padding: 4px;
  max-height: 200px;
}

[data-scope="time-picker"][data-part="content-column"] {
  display: flex;
  gap: 4px;
  flex-direction: column;
  overflow-y: scroll;
}

[data-scope="time-picker"][data-part="hour-cell"],
[data-scope="time-picker"][data-part="minute-cell"],
[data-scope="time-picker"][data-part="second-cell"],
[data-scope="time-picker"][data-part="period-trigger"] {
  all: unset;
  padding: 8px;
  border-radius: 4px;
}

[data-scope="time-picker"][data-part="hour-cell"][data-selected],
[data-scope="time-picker"][data-part="minute-cell"][data-selected],
[data-scope="time-picker"][data-part="second-cell"][data-selected],
[data-scope="time-picker"][data-part="period-trigger"][data-selected] {
  background: purple !important;
  color: white !important ;
}
