[data-toggle-group-root] {
  display: flex;
}

[data-toggle-group-item] {
  border-radius: 0px;
  border: 0;
  width: 40px;
  height: 40px;
}

[data-toggle-group-item][data-state="on"] {
  background-color: blue;
  color: white;
}
