.Tree {
  margin-top: 20px;
  width: 240px;
}

.Item,
.BranchControl {
  user-select: none;
  --padding-inline: 16px;
  padding-inline-start: calc(var(--depth) * var(--padding-inline));
  padding-inline-end: var(--padding-inline);
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 2px;
  min-height: 32px;

  & svg {
    width: 16px;
    height: 16px;
    opacity: 0.5;
  }

  &:hover {
    background: rgb(243, 243, 243);
  }

  &[data-selected] {
    background: rgb(226, 226, 226);
  }

  &:focus {
    outline: 1px solid rgb(148, 148, 148);
    outline-offset: -1px;
  }
}

.ItemText,
.BranchText {
  flex: 1;
}

.BranchContent {
  position: relative;
  isolation: isolate;
}

.BranchIndentGuide {
  position: absolute;
  content: "";
  border-left: 1px solid rgb(226, 226, 226);
  height: 100%;
  translate: calc(var(--depth) * 1.25rem);
  z-index: 0;
}

.BranchIndicator {
  display: flex;
  align-items: center;
  &[data-state="open"] svg {
    transform: rotate(90deg);
  }

  &[data-loading] svg {
    animation: spin 1s linear infinite;
  }
}

.BranchControl[data-loading],
.BranchTrigger[data-loading] {
  opacity: 0.6;
  cursor: wait;
}

.BranchControl[data-loading]:hover {
  background: rgb(243, 243, 243);
}
