[data-tree-view-tree] {
  margin-top: 20px;
  width: 240px;
}

[data-tree-view-item],
[data-tree-view-branch-control] {
  user-select: none;
  --padding-inline: 16px;
  padding-inline-start: calc(var(--depth) * var(--padding-inline));
  padding-inline-end: var(--padding-inline);
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 2px;
  min-height: 32px;

  & svg {
    width: 16px;
    height: 16px;
    opacity: 0.5;
  }

  &:hover {
    background: rgb(243, 243, 243);
  }

  &[data-selected] {
    background: rgb(226, 226, 226);
  }

  &:focus {
    outline: 1px solid rgb(148, 148, 148);
    outline-offset: -1px;
  }
}

[data-tree-view-item-text],
[data-tree-view-branch-text] {
  flex: 1;
}

[data-tree-view-branch-content] {
  position: relative;
  isolation: isolate;
}

[data-tree-view-branch-indent-guide] {
  position: absolute;
  content: "";
  border-left: 1px solid rgb(226, 226, 226);
  height: 100%;
  translate: calc(var(--depth) * 1.25rem);
  z-index: 0;
}

[data-tree-view-branch-indicator] {
  display: flex;
  align-items: center;
  &[data-state="open"] svg {
    transform: rotate(90deg);
  }

  &[data-loading] svg {
    animation: spin 1s linear infinite;
  }
}

[data-tree-view-branch-control][data-loading],
[data-tree-view-branch-trigger][data-loading] {
  opacity: 0.6;
  cursor: wait;
}

[data-tree-view-branch-control][data-loading]:hover {
  background: rgb(243, 243, 243);
}
