@layer reset, base, tokens, recipes, utilities;

.icon-gr-return path {
  stroke: currentColor;
}

#home-illustration {
  color: #d1e1da;
}

[data-theme="dark"] #home-illustration {
  color: #283e35;
}
