---
import { getControlDefaults, menuControls } from "@zag-js/shared"
import Toolbar from "../components/Toolbar.astro"
import Controls from "../components/Controls.astro"
import StateVisualizer from "../components/StateVisualizer.astro"
import Layout from "../layouts/Layout.astro"

const state = getControlDefaults(menuControls)
---

<script>
  import Alpine from "alpinejs"
  import * as menu from "@zag-js/menu"
  import { createZagPlugin } from "../lib"

  Alpine.plugin(createZagPlugin("menu", menu))
</script>

<Layout>
  <main x-data={JSON.stringify(state)}>
    <div x-id="['menu']" x-menu={`{id: $id('menu'), onSelect: console.log, ${Object.keys(state)}}`}>
      <button x-menu:trigger>
        Actions <span x-menu:indicator>▾</span>
      </button>
      <template x-teleport="body">
        <div x-show="$menu.open" x-menu:positioner>
          <ul x-menu:content>
            <li x-menu:item="{value: 'edit'}">Edit</li>
            <li x-menu:item="{value: 'duplicate'}">Duplicate</li>
            <li x-menu:item="{value: 'delete'}">Delete</li>
            <li x-menu:item="{value: 'export'}">Export...</li>
          </ul>
        </div>
      </template>

      <Toolbar>
        <Controls {state} config={menuControls} />
        <StateVisualizer />
      </Toolbar>
    </div>
  </main>
</Layout>
