---
import { getControlDefaults, numberInputControls } from "@zag-js/shared"
import Layout from "../layouts/Layout.astro"
import Toolbar from "../components/Toolbar.astro"
import Controls from "../components/Controls.astro"
import StateVisualizer from "../components/StateVisualizer.astro"

const state = getControlDefaults(numberInputControls)
---

<script>
  import Alpine from "alpinejs"
  import * as numberInput from "@zag-js/number-input"
  import { createZagPlugin } from "../lib"

  Alpine.plugin(createZagPlugin("number-input", numberInput))
</script>

<Layout>
  <main x-data={JSON.stringify(state)}>
    <div
      x-id="['number-input']"
      x-number-input={`{id: $id('number-input'), ${Object.keys(state)}}`}
      x-number-input:root
    >
      <div data-testid="scrubber" x-number-input:scrubber></div>
      <label data-testid="label" x-number-input:label>Enter number:</label>
      <div x-number-input:control>
        <button data-testid="dec-button" x-number-input:decrement-trigger>DEC</button>
        <input data-testid="input" x-number-input:input />
        <button data-testid="inc-button" x-number-input:increment-trigger>INC</button>
      </div>
      <Toolbar>
        <Controls {state} config={numberInputControls} />
        <StateVisualizer omit={["formatter", "parser"]} />
      </Toolbar>
    </div>
  </main>
</Layout>
