---
import { getControlDefaults, passwordInputControls } from "@zag-js/shared"
import Layout from "../layouts/Layout.astro"
import Toolbar from "../components/Toolbar.astro"
import Controls from "../components/Controls.astro"
import StateVisualizer from "../components/StateVisualizer.astro"

const state = getControlDefaults(passwordInputControls)
---

<script>
  import Alpine from "alpinejs"
  import * as passwordInput from "@zag-js/password-input"
  import { createZagPlugin } from "../lib"

  Alpine.plugin(createZagPlugin("password-input", passwordInput))
</script>

<Layout>
  <main
    class="password-input"
    x-id="['password-input']"
    x-data={JSON.stringify(state)}
    x-password-input={`{id: $id('password-input'), ${Object.keys(state)}}`}
  >
    <div x-password-input:root>
      <label x-password-input:label>Password</label>
      <div x-password-input:control>
        <input x-password-input:input />
        <button x-password-input:visibility-trigger>
          <span x-password-input:indicator x-text="$passwordInput.visible ? 'EyeIcon' : 'EyeOffIcon'"></span>
        </button>
      </div>
    </div>

    <Toolbar>
      <Controls {state} config={passwordInputControls} />
      <StateVisualizer />
    </Toolbar>
  </main>
</Layout>
