[data-scope="avatar"][data-part="root"] {
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 9999px;
}

[data-scope="avatar"][data-part="fallback"] {
  width: 80px;
  height: 80px;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 600;
  color: #ffffff;
  background: #718096;
  border-radius: 9999px;
}

[data-scope="avatar"][data-part="fallback"] > div {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
}

[data-scope="avatar"][data-part="image"] {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 9999px;
}

[hidden] {
  display: none !important;
}
