@layer recipes {
  .Root {
    width: 400px;
    height: 250px;
    border-width: 2px;
    border-color: var(--colors-border-subtle);
    position: relative;
    box-sizing: content-box;
  }

  .ItemGroup {
    scrollbar-width: none;
    -webkit-scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &[data-orientation="vertical"] {
      height: 100%;
    }
  }

  .Item {
    & > img {
      height: 250px;
      width: 100%;
      object-fit: cover;
    }
  }

  .Control {
    border-width: 1px;
    border-color: var(--colors-border-subtle);
    background: var(--colors-bg-subtle);
    padding: 0.5rem;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    position: absolute;

    &[data-orientation="horizontal"] {
      left: 50%;
      transform: translateX(-50%);
      bottom: 1rem;
    }

    &[data-orientation="vertical"] {
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      flex-direction: column;
    }
  }

  .PrevTrigger,
  .NextTrigger {
    &:focus-visible {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }

    &:disabled {
      opacity: 0.5;
      filter: grayscale(100%);
    }

    &[data-orientation="vertical"] {
      transform: rotate(90deg);
    }
  }

  .IndicatorGroup {
    display: flex;
    gap: 0.75rem;

    &[data-orientation="vertical"] {
      flex-direction: column;
    }
  }

  .Indicator {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 9999px;
    background: gray;
    cursor: pointer;

    &[data-current] {
      background: var(--colors-bg-primary-bold);
    }
  }
}
