@layer recipes {
  [data-scope="checkbox"][data-part="root"] {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    user-select: none;
    font-size: 18px;
  }

  [data-scope="checkbox"][data-part="root"][data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
    filter: grayscale(100%);
  }

  [data-scope="checkbox"][data-part="control"] {
    width: 24px;
    height: 24px;
    border-radius: 0.275rem;
    border: solid 1px;
    border-color: var(--colors-border-bold);
    color: #ffffff;
  }

  [data-scope="checkbox"][data-part="control"][data-hover] {
    background: var(--colors-bg-bold);
  }

  [data-scope="checkbox"][data-part="control"][data-focus] {
    outline: 2px solid var(--colors-bg-primary-bold);
    outline-offset: 2px;
  }

  [data-scope="checkbox"][data-part="control"][data-disabled] {
    background: var(--colors-bg-bold) !important;
    border-color: var(--colors-border-bold) !important;
    filter: grayscale(100%);
  }

  [data-scope="checkbox"][data-part="control"][data-invalid] {
    border-color: #e53e3e;
  }

  [data-scope="checkbox"][data-part="control"][data-state="indeterminate"] {
    background: #ffffff;
    border-color: grey;
    color: grey;
  }

  [data-scope="checkbox"][data-part="control"][data-state="checked"] {
    background: var(--colors-bg-primary-subtle);
    border-color: var(--colors-bg-primary-subtle);
  }
}
