[data-scope="checkbox"][data-part="root"] {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  user-select: none;
  cursor: pointer;
  font-size: 18px;
}

[data-scope="checkbox"][data-part="root"]:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

[data-scope="checkbox"][data-part="control"] {
  width: 25px;
  height: 25px;
  border-radius: 0.375rem;
  border: solid 2px;
  border-color: #a0aec0;
  color: #ffffff;
}

[data-scope="checkbox"][data-part="control"]:hover {
  background: var(--colors-bg-bold);
}

[data-peer]:focus-visible ~ [data-scope="checkbox"][data-part="control"] {
  outline: 2px solid royalblue;
}

[data-scope="checkbox"][data-part="control"][data-disabled] {
  background: #a0aec0;
  border-color: #a0aec0;
}

[data-scope="checkbox"][data-part="control"][data-state="indeterminate"] {
  background-color: #ffffff;
  border-color: grey;
  color: grey;
}

[data-scope="checkbox"][data-part="control"][data-state="checked"]:not(
    [data-disabled]
  ) {
  background: #3182ce;
  border-color: #3182ce;
}
