[data-scope="checkbox"][data-part="root"] {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  user-select: none;
  font-size: 18px;
}

[data-scope="checkbox"][data-part="root"][data-disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}

[data-scope="checkbox"][data-part="control"] {
  width: 24px;
  height: 24px;
  border-radius: 0.275rem;
  border: solid 2px;
  border-color: #a0aec0;
  color: #ffffff;
}

[data-scope="checkbox"][data-part="control"][data-hover] {
  background: var(--colors-bg-bold);
}

[data-scope="checkbox"][data-part="control"][data-focus] {
  outline: 2px solid var(--colors-bg-primary-subtle);
  outline-offset: 2px;
}

[data-scope="checkbox"][data-part="control"][data-disabled] {
  background: #a0aec0 !important;
  border-color: #a0aec0 !important;
}

[data-scope="checkbox"][data-part="control"][data-state="indeterminate"] {
  background: #ffffff;
  border-color: grey;
  color: grey;
}

[data-scope="checkbox"][data-part="control"][data-state="checked"] {
  background: var(--colors-bg-primary-subtle);
  border-color: var(--colors-bg-primary-subtle);
}
