@layer recipes {
  .Root {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    width: 400px;
  }

  .Trigger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    cursor: pointer;
    font-weight: 500;
    height: 2.5rem;
    padding-inline: 1rem;
    background: var(--colors-bg-primary-subtle);
    color: #ffffff;

    &:hover {
      background: var(--colors-bg-primary-bold);
    }

    &:focus-visible {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }
  }

  .Content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;

    a {
      text-decoration: underline;
    }

    &[data-state="open"] {
      animation: open 110ms cubic-bezier(0, 0, 0.38, 0.9);
    }

    &[data-state="closed"] {
      animation: close 110ms cubic-bezier(0, 0, 0.38, 0.9);
    }
  }

  @keyframes open {
    from {
      height: 0;
      opacity: 0.01;
    }
    to {
      height: var(--height);
      opacity: 1;
    }
  }

  @keyframes close {
    from {
      height: var(--height);
      opacity: 1;
    }
    to {
      height: 0;
      opacity: 0.01;
    }
  }
}
