@layer recipes {
  .Root {
    margin-top: -24px;
  }

  .Label {
    font-size: 0.875rem;
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;

    &[data-disabled] {
      opacity: 0.5;
      filter: grayscale(100%);
    }

    & > span:first-child {
      font-weight: 500;
    }
  }

  .Control {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .TriggerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    background: var(--colors-bg-subtle);
    border-width: 1px;
  }

  .Trigger {
    display: flex;
    background: var(--colors-bg-subtle);

    &:focus-visible {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }
  }

  .TransparencyGrid {
    border-radius: 4px;
  }

  .Swatch {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
  }

  .ChannelInputWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    & > span {
      font-size: 0.875rem;
      font-weight: 500;
    }
  }

  .ChannelInput {
    border-radius: 4px;
    width: 100%;
    border-width: 1px;
    padding-inline: 0.5rem;
    background: var(--colors-bg-subtle);
    font-size: 0.875rem;
    min-height: 32px;

    &[type="number"] {
      appearance: textfield !important;
      -moz-appearance: textfield !important;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .Content {
    filter: drop-shadow(0 1px 2px var(--colors-shadow));
    isolation: isolate;
    padding: 1rem;
    background: var(--colors-bg-popover);
    z-index: calc(var(--layer-index) + 50);
    max-width: 16rem;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .ChannelInputs {
    display: flex;
    width: 100%;
    gap: 0.125rem;
  }

  .Area {
    height: 200px;
    border-radius: 4px;
    border-width: 1px;
  }

  .AreaBackground {
    height: inherit;
    border-radius: inherit;
  }

  .AreaThumb,
  .ChannelSliderThumb {
    border: 2px solid white;
    border-radius: 99999px;
    transform: translate(-50%, -50%);
    box-shadow:
      black 0px 0px 0px 1px,
      black 0px 0px 0px 1px inset;
    width: 1rem;
    height: 1rem;
  }

  .SliderGroup {
    display: flex;
    gap: 20px;
    margin-block: 0.5rem;
  }

  .Sliders {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
  }

  .ChannelSliderTrack {
    height: 0.75rem;
    border-radius: 4px;
  }

  .EyeDropperTrigger {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 1px;
  }

  .Separator {
    width: 100%;
    border-width: 1px;
    border-color: var(--colors-border-subtle);
  }

  .SwatchGroup {
    display: flex;
    gap: 10px;
  }

  .SwatchTrigger {
    & > div {
      position: relative;
    }
  }
}
