[data-scope="color-picker"][data-part="label"] {
  font-size: 0.875rem;
  display: block;
  margin-bottom: 0.5rem;
}

[data-scope="color-picker"][data-part="label"][data-disabled] {
  opacity: 0.6;
}

[data-scope="color-picker"][data-part="label"] > span:first-child {
  font-weight: 500;
}

[data-scope="color-picker"][data-part="control"] {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

[data-scope="color-picker"][data-part="control"]
  > *:has(> [data-part="trigger"]) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  background: var(--colors-bg-subtle);
  border-width: 1px;
}

[data-scope="color-picker"][data-part="control"] > input:last-child {
  max-width: 64px;
}

[data-scope="color-picker"][data-part="trigger"] {
  display: flex;
  background: var(--colors-bg-subtle);
}

[data-scope="color-picker"][data-part="transparency-grid"] {
  border-radius: 4px;
}

[data-scope="color-picker"][data-part="swatch"] {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

div:has(> [data-scope="color-picker"][data-part="channel-input"] ~ span) {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

[data-scope="color-picker"][data-part="channel-input"] {
  border-radius: 4px;
  width: 100%;
  border-width: 1px;
  padding-inline: 0.5rem;
  background: var(--colors-bg-subtle);
  font-size: 0.875rem;
  min-height: 32px;
}

[data-scope="color-picker"][data-part="channel-input"] ~ span {
  font-size: 0.875rem;
  font-weight: 500;
}

[data-scope="color-picker"][data-part="content"] {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  isolation: isolate;
  padding: 1rem;
  background: var(--colors-bg-subtle);
}

[data-scope="color-picker"][data-part="area"]
  ~ div:not(:nth-child(2)):not([data-part="swatch-group"]) {
  display: flex;
  width: 100%;
  gap: 0.125rem;
}

[data-scope="color-picker"][data-part="content"] > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

[data-scope="color-picker"][data-part="area"] {
  height: 200px;
  border-radius: 4px;
  border-width: 1px;
}

[data-scope="color-picker"][data-part="area-background"] {
  height: inherit;
  border-radius: inherit;
}

[data-scope="color-picker"][data-part="area-thumb"],
[data-scope="color-picker"][data-part="channel-slider-thumb"] {
  border: 2px solid white;
  border-radius: 99999px;
  transform: translate(-50%, -50%);
  box-shadow: "black 0px 0px 0px 1px, black 0px 0px 0px 1px inset";
  width: 1rem;
  height: 1rem;
}

[data-scope="color-picker"][data-part="area"] + div {
  display: flex;
  gap: 20px;
  margin-block: 0.5rem;
}

[data-scope="color-picker"][data-part="area"] + div > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

[data-scope="color-picker"][data-part="channel-slider-track"] {
  height: 0.75rem;
  border-radius: 4px;
}

[data-scope="color-picker"][data-part="eye-dropper-trigger"] {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 1px;
}

hr:has(+ [data-scope="color-picker"][data-part="swatch-group"]) {
  width: 100%;
  border-width: 1px;
  border-color: var(--colors-border-subtle);
}

[data-scope="color-picker"][data-part="swatch-group"] {
  display: flex;
  gap: 10px;
}

[data-scope="color-picker"][data-part="swatch-trigger"] > div {
  position: relative;
}
