@layer recipes {
  .Root {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: -24px;
  }

  .Label {
    font-size: 0.875rem;
    font-weight: 500;

    &[data-disabled] {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }

  .Control {
    display: inline-flex;
    width: 300px;
    background: var(--colors-bg-subtle);
    border-width: 1px;
    border-color: var(--colors-border-bold);
    padding-block: 0.25rem;
    padding-inline: 0.75rem;

    &[data-disabled] {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }

  .Input {
    background: var(--colors-bg-subtle);
    flex: 1;
    padding: 0.25rem;

    &:focus {
      outline: 0;
    }
  }

  .Content {
    list-style-type: none;
    margin: 0px;
    max-height: 14rem;
    overflow: auto;
    filter: drop-shadow(0 1px 2px var(--colors-shadow));
    isolation: isolate;
    padding: 0.5rem;
    background: var(--colors-bg-popover);
    z-index: calc(var(--layer-index) + 50);
  }

  .Item {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    &[data-highlighted] {
      background: var(--colors-bg-primary-subtle);
      color: #ffffff;

      &:hover {
        background: var(--colors-bg-primary-bold);
      }
    }

    &[data-disabled] {
      opacity: 0.5;
      cursor: unset;
      filter: grayscale(100%);
    }
  }
}
