@layer recipes {
  .Root {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .Label {
    display: block;
    font-weight: 500;
    font-size: 0.875rem;
  }

  .Control {
    display: inline-flex;
    align-items: flex-end;
    gap: 1rem;

    &[data-disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .FieldGroup {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .SegmentGroup {
    display: inline-flex;
    align-items: center;
    height: 2.5rem;
    padding-inline: 0.75rem;
    background: var(--colors-bg-subtle);
    border-width: 1px;
    border-color: var(--colors-border-bold);

    &[data-focus] {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }

    &[data-invalid] {
      border-color: var(--colors-border-error);
    }
  }

  .Segment {
    padding: 0 0.125rem;
    min-width: 2ch;
    text-align: center;
    caret-color: transparent;

    &:focus {
      outline: none;
      background: var(--colors-bg-primary-bold);
      color: white;
      border-radius: 2px;
    }

    &[data-placeholder] {
      color: var(--colors-text-muted);
       &:focus {
         color: var(--colors-text-bold);
       }
    }
  }

  .Separator {
    color: var(--colors-text-muted);
    user-select: none;
  }

  .ClearButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    padding: 0.5rem 1rem;
    background: var(--colors-bg-subtle);
    border-width: 1px;
    border-color: var(--colors-border-bold);
    border-radius: 0.375rem;
    transition: all 0.2s;

    &:hover {
      background: var(--colors-bg-muted);
    }

    &:focus {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }
  }
}
