@layer recipes {
  .Trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    cursor: pointer;
    font-weight: 500;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    background: var(--colors-bg-primary-subtle);
    color: #ffffff;

    &:focus-visible {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }
  }

  .Backdrop {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.48);
    z-index: 1400;
  }

  .Positioner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1400;
    inset: 0px;
  }

  .Content {
    width: 100%;
    max-width: 400px;
    border-radius: 0.375rem;
    background: var(--colors-bg-subtle);
    border: 1px solid var(--colors-border-bold);
    padding: 1.25rem;
    position: relative;
    pointer-events: auto;
  }

  .Title {
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }

  .Description {
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
  }

  .Actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;

    & > input {
      flex: 1;
      font-size: 0.875rem;
      border-width: 1px;
      padding-inline: 0.5rem;
      padding-block: 0.25rem;
    }

    & > button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: start;
      cursor: pointer;
      font-weight: 500;
      padding-inline: 1rem;
      padding-block: 0.25rem;
      background: var(--colors-bg-primary-subtle);
      color: #ffffff;

      &:focus-visible {
        outline: 2px solid var(--colors-bg-primary-bold);
        outline-offset: 2px;
      }

      &:hover {
        background: var(--colors-bg-primary-bold);
      }
    }
  }

  .CloseTrigger {
    display: flex;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }
}
