[data-scope="editable"][data-part="root"] {
  width: 300px;
}

[data-scope="editable"][data-part="area"] {
  margin-bottom: 0.75rem;
}

[data-scope="editable"][data-part="input"] {
  background: transparent;
}

[data-scope="editable"][data-part="input"]:focus {
  outline: 2px solid hsl(204, 100%, 40%);
}

[data-scope="editable"][data-part="edit-trigger"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  cursor: pointer;
  font-weight: 500;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-width: 1px;
  background: var(--colors-bg-subtle);
}

div:has(> [data-scope="editable"][data-part="submit-trigger"]) {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

[data-scope="editable"][data-part="submit-trigger"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  cursor: pointer;
  font-weight: 500;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background: var(--colors-bg-primary-subtle);
  color: #ffffff;
}

[data-scope="editable"][data-part="cancel-trigger"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  cursor: pointer;
  font-weight: 500;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background: var(--colors-bg-subtle);
  border-width: 1px;
}
