@layer recipes {
  [data-scope="hover-card"][data-part="trigger"] > img {
    width: 3rem;
    height: 3rem;
    border-radius: 999999px;
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  [data-scope="hover-card"][data-part="content"] {
    --background: var(--colors-bg-popover);
    background: var(--background);
    padding: 1rem;
    filter: drop-shadow(0 1px 2px var(--colors-shadow));
    z-index: 50;
    position: relative;
    max-width: min(calc(100vw - 16px), 360px);
    width: 100%;
  }

  [data-scope="hover-card"][data-part="arrow"] {
    --arrow-background: var(--background);
    --arrow-size: 8px;
  }

  [data-scope="hover-card"][data-part="arrow-tip"] {
    border-radius: 0.125rem;
  }

  /* Card content */

  .card-wrapper,
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .card-content {
    gap: 1rem;
  }

  .card-content a {
    color: royalblue;
  }

  .avatar {
    width: 3.5rem;
    height: 3.5rem;
  }

  .header span:first-child,
  .stats > div span:first-child {
    font-weight: 600;
  }

  .header span:nth-child(2),
  .stats > div span:nth-child(2) {
    color: var(--colors-fg-subtle);
  }

  .stats,
  .stats > div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .stats > div {
    gap: 0.375rem;
  }
}
