@layer recipes {
  .TriggerImage {
    width: 3rem;
    height: 3rem;
    border-radius: 999999px;
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  .Content {
    --background: var(--colors-bg-popover);
    background: var(--background);
    padding: 1rem;
    filter: drop-shadow(0 1px 2px var(--colors-shadow));
    z-index: calc(var(--layer-index) + 50);
    position: relative;
    max-width: min(calc(100vw - 16px), 360px);
    width: 100%;
  }

  .Arrow {
    --arrow-background: var(--background);
    --arrow-size: 8px;
  }

  .ArrowTip {
    border-radius: 0.125rem;
  }

  .CardWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .CardContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & a {
      color: royalblue;
    }
  }

  .Avatar {
    width: 3.5rem;
    height: 3.5rem;
  }

  .Header {
    & span:first-child {
      font-weight: 600;
    }

    & span:nth-child(2) {
      color: var(--colors-fg-subtle);
    }
  }

  .Stats {
    display: flex;
    gap: 1rem;
    align-items: center;

    & > div {
      display: flex;
      gap: 0.375rem;
      align-items: center;

      & span:first-child {
        font-weight: 600;
      }

      & span:nth-child(2) {
        color: var(--colors-fg-subtle);
      }
    }
  }
}
