@import url(./accordion.css);
@import url(./angle-slider.css);
@import url(./avatar.css);
@import url(./carousel.css);
@import url(./checkbox.css);
@import url(./clipboard.css);
@import url(./collapsible.css);
@import url(./color-picker.css);
@import url(./combobox.css);
@import url(./dialog.css);
@import url(./date-picker.css);
@import url(./editable.css);
@import url(./file-upload.css);
@import url(./hover-card.css);
@import url(./listbox.css);
@import url(./menu.css);
@import url(./number-input.css);
@import url(./pagination.css);
@import url(./pin-input.css);
@import url(./popover.css);
@import url(./progress.css);
@import url(./qr-code.css);
@import url(./radio.css);
@import url(./rating-group.css);
@import url(./segmented-control.css);
@import url(./select.css);
@import url(./slider.css);
@import url(./splitter.css);
@import url(./switch.css);
@import url(./tabs.css);
@import url(./tags-input.css);
@import url(./time-picker.css);
@import url(./toast.css);
@import url(./timer.css);
@import url(./toggle-group.css);
@import url(./tooltip.css);
@import url(./signature-pad.css);
@import url(./presence.css);
@import url(./steps.css);
@import url(./tour.css);
@import url(./tree-view.css);
@import url(./floating-panel.css);

* {
  border-color: var(--colors-border-bold);
  border-style: solid;
}

/* Variables */
:where(:root, :host) {
  --colors-text-inverse: #ffffff;
  --colors-text-subtle: #4a5568;
  --colors-text-bold: #171923;
  --colors-border-subtle: #edf2f7;
  --colors-border-bold: #e2e8f0;
  --colors-bg-subtle: #ffffff;
  --colors-bg-bold: #edf2f7;
  --colors-bg-primary-subtle: #38a169;
  --colors-bg-primary-bold: #2f855a;
}

.chakra-ui-dark {
  --colors-text-inverse: #1a202c;
  --colors-text-subtle: #a0aec0;
  --colors-text-bold: #f7fafc;
  --colors-border-subtle: #2d3748;
  --colors-border-bold: #2d3748;
  --colors-bg-subtle: #1a202c;
  --colors-bg-bold: #2d3748;
  --colors-bg-primary-bold: #48bb78;
}
