@layer recipes {
  [data-scope="listbox"][data-part="root"] {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: -24px;
  }

  [data-scope="listbox"][data-part="label"] {
    font-size: 1.125rem;
  }

  [data-scope="listbox"][data-part="label"][data-disabled] {
    opacity: 0.5;
    filter: grayscale(100%);
  }

  [data-scope="listbox"][data-part="content"] {
    background: var(--colors-bg-popover);
    width: 240px;
    padding: 0.5rem;
    isolation: isolate;
    list-style-type: none;
    outline: 0;
    border: 1px solid var(--colors-border);
  }

  [data-scope="listbox"][data-part="item"] {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2px;
    border-radius: 4px;

    &:hover {
      background: var(--colors-bg-subtle);
    }

    &[data-highlighted] {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: -2px;
    }

    &[data-selected] {
      background: var(--colors-bg-primary-bold);
      color: #ffffff;
    }

    & img {
      width: 24px;
      height: 24px;
      border-radius: 4px;
    }
  }

  [data-scope="listbox"][data-part="item-text"] {
    flex: 1;
  }

  [data-scope="listbox"][data-part="item-group"] {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
  }

  [data-scope="listbox"][data-part="item-group-label"] {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--colors-text-subtle);
    margin-bottom: 0.25rem;
  }
}
