@layer recipes {
  .Root {
    width: 100%;
    overflow: hidden;

    &[data-orientation="vertical"] {
      height: 20rem;
      max-width: 20rem;
    }

    &[data-orientation="horizontal"] {
      width: 100%;
      height: 120px;
      max-width: 32rem;
    }

    &[data-paused] {
      &,
      * {
        animation-play-state: paused !important;
      }
    }
  }

  .Content {
    animation-timing-function: linear;
    animation-duration: var(--marquee-duration);
    animation-delay: var(--marquee-delay);
    animation-iteration-count: var(--marquee-loop-count);

    &[data-side="start"],
    &[data-side="end"] {
      animation-name: marqueeX;
    }

    &[data-side="top"],
    &[data-side="bottom"] {
      animation-name: marqueeY;
    }

    &[data-reverse] {
      animation-direction: reverse;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .Content {
      animation: none !important;
    }
  }

  @keyframes marqueeX {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(var(--marquee-translate));
    }
  }

  @keyframes marqueeY {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(var(--marquee-translate));
    }
  }

  .Edge {
    z-index: 10;
    pointer-events: none;

    &[data-side="start"] {
      width: 20%;
      background: linear-gradient(
        to right,
        var(--colors-bg-subtle),
        transparent
      );

      &[dir="rtl"] {
        background: linear-gradient(
          to left,
          var(--colors-bg-subtle),
          transparent
        );
      }
    }

    &[data-side="end"] {
      width: 20%;
      background: linear-gradient(
        to left,
        var(--colors-bg-subtle),
        transparent
      );

      &[dir="rtl"] {
        background: linear-gradient(
          to right,
          var(--colors-bg-subtle),
          transparent
        );
      }
    }

    &[data-side="top"] {
      height: 20%;
      background: linear-gradient(
        to bottom,
        var(--colors-bg-subtle),
        transparent
      );
    }

    &[data-side="bottom"] {
      height: 20%;
      background: linear-gradient(to top, var(--colors-bg-subtle), transparent);
    }
  }

  .Item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 24px;
    background: var(--colors-bg-subtle);
    border: 1px solid var(--colors-border-subtle);
    border-radius: 6px;
    white-space: nowrap;
    user-select: none;
  }

  .Logo {
    font-size: 32px;
    line-height: 1;
  }

  .Name {
    font-size: 16px;
    font-weight: 500;
    color: var(--colors-text-bold);
  }
}
