@layer recipes {
  [data-scope="menu"][data-part="trigger"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    cursor: pointer;

    &:focus-visible {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }
    font-weight: 500;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    background: var(--colors-bg-primary-subtle);
    color: #ffffff;
    &:hover {
      background: var(--colors-bg-primary-bold);
    }
  }

  [data-scope="menu"][data-part="context-trigger"] {
    background: var(--colors-bg-subtle);
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
    border-color: var(--colors-border-bold);
  }

  [data-scope="menu"][data-part="indicator"] {
    margin-left: 0.5rem;
  }

  [data-scope="menu"][data-part="content"] {
    background: var(--colors-bg-popover);
    width: 12rem;
    padding: 0.5rem;
    isolation: isolate;
    list-style-type: none;
    filter: drop-shadow(0 1px 2px var(--colors-shadow));
  }

  [data-scope="menu"][data-part="content"]:is(:focus, [data-focus]) {
    outline: none;
  }

  [data-scope="menu"]:is([data-part="item"], [data-part="trigger-item"]) {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    cursor: pointer;
  }

  [data-scope="menu"]:is(
      [data-part="item"],
      [data-part="trigger-item"]
    )[data-highlighted] {
    background: var(--colors-bg-primary-bold);
    color: #ffffff;
  }
}
