@layer recipes {
  .Root {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: -24px;
  }

  .Control {
    position: relative;
    display: inline-block;
  }

  .Input {
    border-width: 1px;
    height: 2.5rem;
    padding-right: 1.25rem;
    padding-left: 0.75rem;
    background: var(--colors-bg-subtle);
    border-color: var(--colors-border-bold);
  }

  .Spinners {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 1.5rem;
    right: 3px;
    top: 3px;
  }

  .IncrementTrigger,
  .DecrementTrigger {
    width: 100%;
    background: var(--colors-bg-bold);
    display: flex;
    justify-content: center;

    &:active {
      filter: brightness(0.9);
    }

    &:focus-visible {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: -2px;
    }

    &[data-disabled] {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }
}
