@layer recipes {
  [data-scope="password-input"][data-part="root"] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-width: 320px;
    margin-top: -24px;
  }

  [data-scope="password-input"][data-part="label"] {
    font-weight: 500;

    &[data-disabled] {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }

  [data-scope="password-input"][data-part="input"] {
    background: var(--colors-bg-subtle);
    border-width: 1px;
    width: 100%;
    height: 48px;
    font-size: 1rem;
    text-align: start;
    padding-inline-start: 1rem;
    padding-inline-end: 3rem;

    &:focus {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }

    &[data-disabled] {
      background: var(--colors-bg-subtle);
      border-color: var(--colors-border-subtle);
      filter: grayscale(100%);
    }
  }

  [data-scope="password-input"][data-part="control"] {
    position: relative;
    display: flex;
    align-items: center;
  }

  [data-scope="password-input"][data-part="visibility-trigger"] {
    display: inline-flex;
    position: absolute;
    inset-inline-end: 0.4rem;
    align-items: center;
    justify-content: center;
    text-align: start;
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-weight: 500;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    background: var(--colors-bg-primary-subtle);
    color: #ffffff;

    &[data-disabled] {
      display: none;
    }
  }
}
