@layer recipes {
  .Root {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .Input {
    background: var(--colors-bg-subtle);
    border-width: 1px;
    border-color: var(--colors-border-bold);
    width: 50px;
    height: 50px;
    font-size: 1.125rem;
    text-align: center;

    &:focus {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }
  }

  .ClearButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    cursor: pointer;
    font-weight: 500;
    padding-block: 0.25rem;
    background: var(--colors-bg-subtle);
    border-width: 1px;
    border-color: var(--colors-border-bold);
    padding-inline: 0.5rem;
  }
}
