@layer recipes {
  .Frame {
    width: 120px;
    height: 120px;
    background-color: var(--colors-bg-subtle);
  }

  .Pattern {
    fill: black;

    :global(.chakra-ui-dark) & {
      fill: white;
    }
  }

  .Overlay {
    width: 24px;
    height: 24px;
    outline: 4px solid white;

    & img {
      width: 100%;
      height: 100%;
    }

    :global(.chakra-ui-dark) & {
      outline-color: black;
    }
  }
}
