@layer recipes {
  .radio {
    [data-scope="radio-group"][data-part="root"] {
      display: flex;
      gap: 0.75rem;
      margin-top: -24px;
    }

    [data-scope="radio-group"][data-part="root"][data-orientation="vertical"] {
      flex-direction: column;
    }

    [data-scope="radio-group"][data-part="label"] + div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    [data-scope="radio-group"][data-part="item"] {
      display: flex;
      gap: 0.5rem;
      user-select: none;
      cursor: pointer;
      font-size: 16px;
    }

    [data-scope="radio-group"][data-part="item"][data-disabled] {
      cursor: not-allowed;
      opacity: 0.5;
      filter: grayscale(100%);
    }

    [data-scope="radio-group"][data-part="item-text"] {
      order: 2;
    }

    [data-scope="radio-group"][data-part="item-control"] {
      order: 1;
      width: 25px;
      height: 25px;
      border-radius: 9999px;
      border: solid 1px;
      border-color: var(--colors-border-bold);
      color: #ffffff;
      padding: 1px;
    }

    [data-scope="radio-group"][data-part="item-control"]:hover {
      background: var(--colors-bg-subtle);
    }

    [data-peer]:focus-visible
      ~ [data-scope="radio-group"][data-part="item-control"] {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }

    [data-scope="radio-group"][data-part="item-control"][data-state="checked"] {
      background: var(--colors-bg-primary-bold);
      border-color: var(--colors-bg-primary-bold);
    }

    [data-scope="radio-group"][data-part="item-control"][data-disabled] {
      background: var(--colors-bg-bold);
      border-color: var(--colors-border-bold);
      filter: grayscale(100%);
    }
  }
}
