@layer recipes {
  [data-scope="rating-group"][data-part="root"] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: -24px;
  }

  [data-scope="rating-group"][data-part="root"][dir="rtl"]
    [data-half]
    [data-part="star"] {
    transform: scale(-1, 1);
  }

  [data-scope="rating-group"][data-part="control"] {
    display: inline-flex;
  }

  [data-scope="rating-group"][data-part="item"] {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    border-radius: 4px;

    &:focus-visible {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }
  }

  [data-scope="rating-group"][data-part="item"] [data-part="star"] {
    color: var(--colors-border-bold);
  }

  [data-scope="rating-group"][data-part="item"][data-highlighted]
    [data-part="star"] {
    color: var(--colors-bg-primary-bold);
  }

  [data-scope="rating-group"][data-part="item"][data-highlighted][data-disabled]
    [data-part="star"] {
    color: var(--colors-fg-subtle);
    filter: grayscale(100%);
  }
}
