@layer recipes {
  .Root {
    display: flex;
    gap: 0.75rem;
    background-color: var(--colors-bg-bold);
    position: relative;
    padding: 0.375rem;
    border-radius: 0.375rem;

    &[data-orientation="horizontal"] {
      flex-direction: row;
    }

    &[data-orientation="vertical"] {
      flex-direction: column;
    }
  }

  .Indicator {
    background: var(--colors-bg-subtle);
    z-index: 1;
    border-radius: 0.375rem;
    box-shadow:
      0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
    height: var(--height);
    width: var(--width);
  }

  .Item {
    display: flex;
    gap: 0.5rem;
    user-select: none;
    cursor: pointer;
    font-size: 16px;
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    z-index: 2;
    font-weight: 500;

    &[data-state="checked"] {
      color: var(--colors-text-primary-bold);
    }

    &[data-disabled] {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }
}
