[data-scope="select"][data-part="root"] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

[data-scope="select"][data-part="label"] {
  font-size: 1.125rem;
}

[data-scope="select"][data-part="label"][data-disabled] {
  opacity: 0.6;
}

[data-scope="select"][data-part="trigger"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  cursor: pointer;
  font-weight: 500;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  border-width: 1px;
  min-width: 200px;
  background: var(--colors-bg-subtle);
}

[data-scope="select"][data-part="trigger"]:hover {
  background: var(--colors-bg-bold);
}

[data-scope="select"][data-part="trigger"]:is(:focus, [data-focus]) {
  outline: 2px solid hsl(204, 100%, 40%);
}

[data-scope="select"][data-part="trigger"][data-disabled] {
  opacity: 0.6;
}

[data-scope="select"][data-part="trigger"] > span {
  padding: 0.25rem;
  flex: 1;
}

[data-scope="select"][data-part="content"] {
  background: var(--colors-bg-subtle);
  width: 240px;
  padding: 0.5rem;
  isolation: isolate;
  list-style-type: none;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

[data-scope="select"][data-part="content"]:is(:focus, [data-focus]) {
  outline: 2px solid hsl(204, 100%, 40%);
}

[data-scope="select"][data-part="item"] {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

[data-scope="select"][data-part="item-text"] {
  flex: 1;
}

[data-scope="select"][data-part="item"][data-highlighted] {
  background: var(--colors-bg-primary-bold);
  color: #ffffff;
}
