@layer recipes {
  [data-scope="select"][data-part="root"] {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: -24px;
  }

  [data-scope="select"][data-part="label"] {
    font-size: 1.125rem;
  }

  [data-scope="select"][data-part="label"][data-disabled] {
    opacity: 0.5;
    filter: grayscale(100%);
  }

  [data-scope="select"][data-part="trigger"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    cursor: pointer;
    font-weight: 500;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    border-width: 1px;
    border-color: var(--colors-border-bold);
    min-width: 200px;
    background: var(--colors-bg-subtle);
  }

  [data-scope="select"][data-part="trigger"]:hover {
    background: var(--colors-bg-bold);
  }

  [data-scope="select"][data-part="trigger"]:is(:focus, [data-focus]) {
    outline: 2px solid var(--colors-bg-primary-bold);
    outline-offset: 2px;
  }

  [data-scope="select"][data-part="trigger"][data-disabled] {
    opacity: 0.5;
    filter: grayscale(100%);
  }

  [data-scope="select"][data-part="trigger"] > span {
    padding: 0.25rem;
    flex: 1;
  }

  [data-scope="select"][data-part="content"] {
    background: var(--colors-bg-popover);
    width: 240px;
    padding: 0.5rem;
    isolation: isolate;
    list-style-type: none;
    filter: drop-shadow(0 1px 2px var(--colors-shadow));
  }

  [data-scope="select"][data-part="content"]:is(:focus, [data-focus]) {
    outline: none;
  }

  [data-scope="select"][data-part="item"] {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  [data-scope="select"][data-part="item-text"] {
    flex: 1;
  }

  [data-scope="select"][data-part="item"][data-highlighted] {
    background: var(--colors-bg-primary-bold);
    color: #ffffff;
  }
}
