@layer recipes {
  .Root {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
  }

  .Panel {
    display: flex;
    background: var(--colors-bg-subtle);
    border-width: 1px;
    align-items: center;
    justify-content: center;
    height: 100%;

    &[data-orientation="horizontal"] {
      width: auto;
    }

    &[data-orientation="vertical"] {
      width: 100%;
    }
  }

  .ResizeTrigger {
    background: #cbd5e0;
    border-radius: 4px;
    margin: 0.5rem;
    display: flex;

    &:focus-visible {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }

    &[data-orientation="horizontal"] {
      height: 6rem;
      width: 0.5rem;
    }

    &[data-orientation="vertical"] {
      height: 0.5rem;
      width: 16rem;
    }
  }
}
