@layer recipes {
  .Root {
    display: flex;
    align-items: center;
    position: relative;
    line-height: 0;
    width: fit-content;
    --switch-track-diff: calc(
      var(--switch-track-width) - var(--switch-track-height)
    );
    --switch-thumb-x: var(--switch-track-diff);
    --switch-track-width: 2.7rem;
    --switch-track-height: 1.5rem;
  }

  .Control {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: flex-start;
    box-sizing: content-box;
    border-radius: 9999px;
    padding: 0.125rem;
    width: var(--switch-track-width);
    height: var(--switch-track-height);
    transition-property:
      background-color, border-color, color, fill, stroke, opacity, box-shadow,
      transform;
    transition-duration: 150ms;
    background: var(--colors-bg-bold);
    -webkit-box-pack: start;

    &[data-state="checked"] {
      background: var(--colors-bg-primary-bold);
    }

    &[data-focus] {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }

    &[data-disabled] {
      opacity: 0.5;

      filter: grayscale(100%);
    }
  }

  .Thumb {
    background: var(--colors-bg-subtle);
    transition-property: transform;
    transition-duration: 200ms;
    border-radius: inherit;
    width: var(--switch-track-height);
    height: var(--switch-track-height);
    position: relative;

    &::before {
      -webkit-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out;
      position: absolute;
      --thumb-size: calc(var(--switch-track-height) + 0.7rem);
      height: var(--thumb-size);
      width: var(--thumb-size);
      background: transparent;
      content: "";
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: inherit;
    }

    &[data-state="checked"] {
      transform: translateX(var(--switch-thumb-x));
    }
  }

  .Label {
    font-size: 0.875rem;
    font-weight: 500;
    user-select: none;
    margin-inline-start: 0.5rem;
  }
}
