@layer recipes {
  .Root {
    width: 400px;
  }

  .Control {
    background: var(--colors-bg-subtle);
    border-width: 1px;
    border-color: var(--colors-border-bold);
    margin-top: 0.5rem;
    padding-block: 2px;
    padding-inline: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &[data-focus] {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
    }
  }

  .ItemPreview {
    background: var(--colors-bg-bold);
    padding-inline: 0.5rem;
    display: inline-block;
    margin: 4px;

    &[data-highlighted] {
      background: var(--colors-bg-primary-bold);
      color: #ffffff;
    }

    &[data-disabled] {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }

  .ItemDeleteTrigger {
    margin-left: 0.25rem;
  }

  .ItemInput {
    padding-inline: 0.5rem;
    width: 2.5rem;
    outline: 0;
  }

  .Input {
    background: var(--colors-bg-subtle);
    padding-inline: 0.5rem;
    margin: 4px;
    min-width: 4rem;
    flex: 1;

    &:focus {
      outline: 0;
    }
  }
}
