[data-scope="toast"][data-part="group"] {
  max-width: 420px;
}

[data-scope="toast"][data-part="root"] {
  width: 400px;
  position: relative;
  color: #ffffff;
  border-radius: 0.375rem;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px 0px;
  animation-fill-mode: forwards;
  background: #38a169;
}

[data-scope="toast"][data-part="root"][data-type="info"] {
  background: #4a5568;
}

[data-scope="toast"][data-part="root"][data-state="open"] {
  animation-name: toast-in;
  animation-duration: 0.35s;
  animation-timing-function: cubic-bezier(0.21, 1.02, 0.73, 1);
}

[data-scope="toast"][data-part="root"][data-state="closed"] {
  animation-name: toast-out;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.06, 0.71, 0.55, 1);
}

[data-scope="toast"][data-part="close-trigger"] {
  display: flex;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}

/* Toast trigger buttons */

[data-scope="toast"][data-part="group"] + div {
  display: flex;
  gap: 16px;
}

[data-scope="toast"][data-part="group"] + div > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  cursor: pointer;
  font-weight: 500;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-width: 1px;
  background: var(--colors-bg-subtle);
}

[data-scope="toast"][data-part="group"] + div > button:hover {
  background: var(--colors-bg-bold);
}

@keyframes toast-in {
  from {
    transform: translate3d(0, 200%, 0) scale(0.6);
    opacity: 0.5;
  }
  to {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes toast-out {
  from {
    transform: translate3d(0, 0, -1px) scale(1);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 150%, -1px) scale(0.6);
    opacity: 0;
  }
}
