@layer recipes {
  .Root {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0px;

    & > * {
      margin-left: -1px;
    }
  }

  .Item {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--colors-bg-subtle);
    border-width: 1px;
    font-size: 1.25rem;
    position: relative;

    &:hover {
      background: var(--colors-bg-bold);
    }

    &[data-state="on"] {
      background: var(--colors-bg-primary-bold);
      color: var(--colors-text-inverse);
    }

    &[data-disabled] {
      opacity: 0.5;

      filter: grayscale(100%);
    }

    &[data-focus] {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: 2px;
      z-index: 1;
    }
  }
}
