@layer recipes {
  .Tree {
    margin-top: 20px;
    width: 240px;
    margin-left: -16px;
  }

  .Label {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .Item,
  .BranchControl {
    user-select: none;
    --padding-inline: 16px;
    padding-inline-start: calc(var(--depth) * var(--padding-inline));
    padding-inline-end: var(--padding-inline);
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 2px;
    min-height: 32px;

    & svg {
      width: 16px;
      height: 16px;
      opacity: 0.5;
    }

    &:hover {
      background: var(--colors-border-bold);
    }

    &:focus-visible {
      outline: 2px solid var(--colors-bg-primary-bold);
      outline-offset: -2px;
    }

    &[data-selected] {
      background: var(--colors-bg-primary-bold);
      color: var(--colors-text-inverse);
    }
  }

  .ItemText,
  .BranchText {
    flex: 1;
  }

  .BranchContent {
    position: relative;
    isolation: isolate;
  }

  .BranchIndentGuide {
    position: absolute;
    content: "";
    border-left: 1px solid rgba(226, 226, 226, 0.179);
    height: 100%;
    translate: calc(var(--depth) * 1.25rem);
    z-index: 0;
  }

  .BranchIndicator {
    display: flex;
    align-items: center;

    &[data-state="open"] svg {
      transform: rotate(90deg);
    }
  }

  .Trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    cursor: pointer;
    font-weight: 500;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    background: var(--colors-bg-primary-subtle);
    color: #ffffff;
    margin-top: 20px;
  }
}
