[data-color-picker-root] {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

[data-color-picker-control] {
  display: flex;
  gap: 4px;
}

[data-color-picker-content] {
  width: 260px;
  box-sizing: border-box;
  padding: 24px;
  border: 1px solid #d5d5d5;
  background: white;
  z-index: var(--layer-index);
}

[data-color-picker-content] > .content__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

[data-color-picker-area] {
  height: 200px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
}

[data-color-picker-area-background] {
  background: rgb(142, 142, 142);
  border-radius: 4px;
  height: 200px;
}

[data-color-picker-area-thumb],
[data-color-picker-channel-slider-thumb] {
  border: 2px solid white;
  border-radius: 9999px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  box-shadow:
    black 0px 0px 0px 1px,
    black 0px 0px 0px 1px inset;
  width: 16px;
  height: 16px;
}

[data-color-picker-channel-slider-track] {
  height: 20px;
  border-radius: 4px;
}

[data-color-picker-channel-input] {
  border-radius: 4px;
  width: 100%;
  border: 1px solid #c2c2c2;
}

[data-color-picker-swatch] {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

[data-color-picker-transparency-grid] {
  border-radius: 4px;
}
