[data-editable-area] {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 1em;
}

[data-editable-input] {
  width: auto;
  background: transparent;

  &[data-autoresize] {
    all: unset;
  }
}

[data-editable-preview][data-empty] {
  opacity: 0.7;
}

[data-editable-control] {
  display: flex;
  gap: 0.5em;
}
