[data-pin-input-control] {
  width: 300px;
  display: flex;
  margin-bottom: 12px;
  gap: 12px;
}

[data-pin-input-label] {
  display: block;
  margin-bottom: 8px;
}

[data-pin-input-input] {
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 16px;
  caret-color: transparent;
}
