[data-rating-group-control] {
  display: inline-flex;
}

[data-rating-group-item] {
  width: 20px;
  height: 20px;
  padding: 1px;
}

[data-rating-group-item]:focus {
  outline: 2px solid royalblue;
}

[data-rating-group-star] {
  color: #bdbdbd;
}

[data-rating-group-item][data-highlighted] [data-rating-group-star] {
  color: #ffb400;
}

[data-rating-group-item][data-highlighted][data-disabled] [data-rating-group-star] {
  color: #a1a1a1;
}

[data-rating-group-root][dir="rtl"] [data-half] [data-rating-group-star] {
  transform: scale(-1, 1);
}
