.slider > * {
  width: 100%;
}

[data-slider-root] {
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

[data-slider-root][data-orientation="vertical"] {
  height: 240px;
}

[data-slider-control] {
  --slider-thumb-size: 20px;
  --slider-track-height: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

[data-slider-control][data-orientation="horizontal"] {
  height: var(--slider-thumb-size);
}

[data-slider-control][data-orientation="vertical"] {
  width: var(--slider-thumb-size);
}

[data-slider-thumb] {
  all: unset;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  border-radius: 999px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px;
}

[data-slider-thumb]:focus-visible {
  box-shadow: rgb(0 0 0 / 22%) 0px 0px 0px 5px;
}

[data-slider-thumb]:hover:not([data-disabled]) {
  background-color: rgb(245, 242, 255);
}

[data-slider-thumb][data-disabled] {
  background-color: lightgray;
}

[data-slider-root] .control-area {
  margin-top: 12px;
  display: flex;
}

.slider [data-orientation="horizontal"] .control-area {
  flex-direction: column;
  width: 100%;
}

.slider [data-orientation="vertical"] .control-area {
  flex-direction: row;
  height: 100%;
}

[data-slider-track] {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

[data-slider-track][data-orientation="horizontal"] {
  height: var(--slider-track-height);
  width: 100%;
}

[data-slider-track][data-orientation="vertical"] {
  height: 100%;
  width: var(--slider-track-height);
}

[data-slider-range] {
  background: magenta;
  border-radius: inherit;
}

[data-slider-range][data-disabled] {
  background: rgba(0, 0, 0, 0.4);
}

[data-slider-range][data-orientation="horizontal"] {
  height: 100%;
}

[data-slider-range][data-orientation="vertical"] {
  width: 100%;
}

[data-slider-value-text] {
  margin-inline-start: 12px;
}

[data-slider-marker-group][data-orientation="vertical"] {
  height: 100%;
}

[data-slider-marker] {
  color: lightgray;
}

[data-slider-marker]:is([data-state="under-value"], [data-state="at-value"]) {
  color: red;
}

[data-slider-dragging-indicator] {
  background: magenta;
  border-radius: 4px;
  padding: 2px 4px;
  color: white;
  &[data-orientation="horizontal"] {
    top: calc(var(--slider-thumb-size) + 8px);
  }

  &[data-orientation="vertical"] {
    left: calc(var(--slider-thumb-size) + 8px);
  }
}
