[data-scope="color-picker"][data-part="content"] {
  width: 260px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 16px;
  padding: 24px;
  border: 1px solid #d5d5d5;
}

[data-scope="color-picker"][data-part="area"] {
  height: 200px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
}

[data-scope="color-picker"][data-part="area-gradient"] {
  background: rgb(142, 142, 142);
  border-radius: 4px;
  height: 200px;
}

[data-scope="color-picker"][data-part="area-thumb"],
[data-scope="color-picker"][data-part="channel-slider-thumb"] {
  border: 2px solid white;
  border-radius: 9999px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  box-shadow: black 0px 0px 0px 1px, black 0px 0px 0px 1px inset;
  width: 16px;
  height: 16px;
}

[data-scope="color-picker"][data-part="channel-slider-track"] {
  height: 20px;
  border-radius: 4px;
}

[data-scope="color-picker"][data-part="channel-slider-track-bg"] {
  border-radius: 4px;
}

[data-scope="color-picker"][data-part="channel-input"] {
  border-radius: 4px;
  width: 100%;
  border: 1px solid #c2c2c2;
}

[data-scope="color-picker"][data-part="channel-input"]::-webkit-outer-spin-button,
[data-scope="color-picker"][data-part="channel-input"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

[data-scope="color-picker"][data-part="swatch"] {
  border-radius: 4px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

[data-scope="color-picker"][data-part="swatch-bg"] {
  border-radius: 4px;
}
