[data-scope="date-picker"][data-part="cell-trigger"][data-focused] {
  background: rgba(128, 0, 128, 0.171);
  color: rgba(128, 0, 128, 0.959);
}

[data-scope="date-picker"][data-part="cell-trigger"][data-outside-range] {
  visibility: hidden;
}

[data-scope="date-picker"][data-part="cell-trigger"][data-selected] {
  background: purple;
  color: white;
}

[data-scope="date-picker"][data-part="cell-trigger"][data-in-range]:not([data-selected]) {
  background: rgb(240, 219, 240);
}

[data-scope="date-picker"][data-part="cell-trigger"] {
  padding: 4px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

[data-scope="date-picker"][data-part="control"] {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 16px;
}

[data-scope="date-picker"][data-part="cell-trigger"][data-today] {
  color: purple;
}

[data-scope="date-picker"][data-part="cell-trigger"][data-unavailable] {
  text-decoration: line-through;
  opacity: 0.4;
}

[data-scope="date-picker"][data-part="cell-trigger"][data-disabled] {
  opacity: 0.4;
}

[data-scope="date-picker"][data-part="content"] {
  border: 1px solid gray;
  padding: 0.5rem 1.5rem;
  width: fit-content;
}

[data-scope="date-picker"][data-part="content"] table {
  min-width: 240px;
}
