[data-scope="dialog"][data-part="backdrop"] {
  background-color: rgba(0, 0, 0, 0.44);
  position: fixed;
  inset: 0px;
}

[data-scope="dialog"][data-part="container"] {
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-scope="dialog"][data-part="title"] {
  margin: 0px;
  font-weight: 500;
  color: rgb(26, 21, 35);
  font-size: 17px;
}

[data-scope="dialog"][data-part="description"] {
  margin: 10px 0px 20px;
  color: rgb(111, 110, 119);
  font-size: 15px;
  line-height: 1.5;
}

[data-scope="dialog"][data-part="content"] {
  background-color: white;
  border-radius: 6px;
  box-shadow: rgb(14 18 22 / 35%) 0px 10px 38px -10px, rgb(14 18 22 / 20%) 0px 10px 20px -15px;
  width: 100%;
  max-width: 450px;
  max-height: 85vh;
  padding: 24px;
  position: relative;
}

[data-scope="dialog"][data-part="close-trigger"] {
  font-family: inherit;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(87, 70, 175);
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
}

[data-scope="dialog"][data-part="close-trigger"]:focus {
  outline: 2px blue solid;
  outline-offset: 2px;
}
