[data-scope="pagination"][data-part*="trigger"],
[data-scope="pagination"][data-part="ellipsis"] {
  box-sizing: border-box;
  padding: 0 12px;
  height: 32px;
  min-width: 32px;
  text-align: center;
  margin: auto 4px;
  color: inherit;
  display: flex;
  align-items: center;
  border-radius: 4px;
  user-select: none;
  text-decoration: none;
}

[data-scope="pagination"][data-part*="trigger"]:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

[data-scope="pagination"][data-part*="trigger"][data-selected] {
  background-color: blue;
  color: white;
}

[data-scope="pagination"][data-part*="trigger"]:focus {
  outline: 2px solid var(--ring-color);
  outline-offset: 1px;
}

[data-scope="pagination"][data-part="ellipsis"] {
  cursor: default;
}
