[data-scope="pin-input"][data-part="control"] {
  width: 300px;
  display: flex;
  margin-bottom: 12px;
  gap: 12px;
}

[data-scope="pin-input"][data-part="label"] {
  display: block;
  margin-bottom: 8px;
}

[data-scope="pin-input"][data-part="input"] {
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 24px;
}
