[data-scope="popover"][data-part="root"] {
  display: flex;
  gap: 24px;
}

@keyframes scale {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

[data-scope="popover"][data-part="content"] {
  --arrow-background: white;
  --arrow-size: 10px;
  background: white;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  width: 260px;
  transform-origin: var(--transform-origin);
}

[data-scope="popover"][data-part="content"][data-expanded] {
  animation: scale 0.1s ease-out;
}

[data-scope="popover"][data-part="title"] {
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
}

[data-scope="popover"] [data-part="body"] {
  padding-top: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  position: relative;
  font-size: 14px;
}

[data-scope="popover"][data-part="close-trigger"] {
  position: absolute;
  right: 0px;
  top: -20px;
}

[data-scope="popover"][data-part="arrow"] {
  --arrow-background: white;
  --arrow-shadow-color: #ebebeb;
  box-shadow: var(--box-shadow);
}
