@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shrink {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

[data-scope="toast"][data-part="root"] {
  background: rgb(116, 116, 116);
  border-radius: 4px;
  color: white;
  padding: 12px;
  width: 400px;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-name: fadeIn;
}

[data-scope="toast"][data-part="root"]:not([data-open]) {
  animation-duration: var(--toast-remove-delay);
  animation-name: fadeOut;
}

[data-scope="toast"][data-part="root"][data-type="error"] {
  background: red;
}
[data-scope="toast"][data-part="root"][data-type="info"] {
  background: blue;
}
[data-scope="toast"][data-part="root"][data-type="warning"] {
  background: orange;
}
[data-scope="toast"][data-part="root"][data-type="success"] {
  background: green;
}
[data-scope="toast"][data-part="root"][data-type="loading"] {
  background: purple;
}

[data-scope="toast"] .spinner {
  animation: spin 1s linear infinite;
}

[data-scope="toast"][data-part="progressbar"] {
  height: 4px;
  background: rgb(116, 116, 116);
  width: 100%;
  animation-name: shrink;
}

[data-scope="toast"][data-part="progressbar"][data-type="loading"] {
  animation-name: none;
}
