{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": { "ecmaVersion": 8 },
  "ignorePatterns": ["node_modules/*", ".next/*", ".out/*", "!.prettierrc.js"],
  "extends": ["eslint:recommended"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "."]
      }
    }
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "env": {
        "browser": true,
        "node": true,
        "es6": true
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:jsx-a11y/recommended"
      ],
      "rules": {
        "import/no-unresolved": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "@typescript-eslint/no-unused-vars": ["error"],
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "import/named": "off",
        "jsx-a11y/accessible-emoji": "off",
        "jsx-a11y/label-has-associated-control": "off"
      }
    }
  ]
}
