name: Playwright Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches-ignore:
      - "renovate/**"
    types: [opened, synchronize]

env:
  CI: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  e2e:
    name: End to End tests
    timeout-minutes: 30

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: Run your tests
        run: pnpm e2e-react

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: |
            e2e/report
            e2e/junit.xml
          retention-days: 15

  report:
    name: Get reports
    needs: [e2e]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        id: download
        uses: actions/download-artifact@v3

      - name: Generate test summary
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          check_name: Playwright Tests
          files: e2e/junit.xml
          commit: ${{ github.event.workflow_run.head_sha }}
